{% extends 'base_zy.html' %}
{% load static %}

{% block css %}
        <link href="{% static "css/bootstrap5.min.css" %}" rel="stylesheet" type="text/css"/>
    <style>
        .add_main{
            width:60vw;
            height:80vh;
        }
        .form-control{
          width: 40%;
        }
        .form-select{
          width: 40%;
        }
        a{text-decoration:none}  /*去掉下划线*/
        </style>

{% endblock %}

{% block js %}
    <script src="{% static "js/bootstrap5.min.js" %}"></script>
{% endblock %}

{% block nav %}
    {% for i in nav_html %}
         {% if i.index < 3 %}
            <a href="{{ i.url }}">{{i.title}}</a>  >
         {% else %}
            <a href="{{ i.url }}">{{i.title}}</a>
         {% endif %}
    {% endfor %}
{% endblock %}

{% block content%}
<h3>{{ title }}</h3>

    <form method="post" enctype="multipart/form-data"  novalidate>{% csrf_token %}
        {% for field in form %}
            <label>{{ field.label }}</label>
            {{ field }}
           <span style="color:red;"> {{ field.errors.0 }}</span>
{#              报错信息 是个列表，可以先选索引0#}
            <br>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}

{#{% block content %}#}
{#    <form>#}
{#      <div class="mb-3">#}
{#        <label for="exampleInputEmail1" class="form-label">用户名</label>#}
{#        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
{##}
{#        <label for="exampleInputPassword1" class="form-label">密码</label>#}
{#        <input type="password" class="form-control" id="exampleInputPassword1">#}
{#      </div>#}
{##}
{#        <div class="mb-3">#}
{#      <label for="formFile" class="form-label">Default file input example</label>#}
{#      <input class="form-control" type="file" id="formFile">#}
{#    </div>#}
{#    <select class="form-select" aria-label="Default select example">#}
{#      <option selected>Open this select menu</option>#}
{#      <option value="1">One</option>#}
{#      <option value="2">Two</option>#}
{#      <option value="3">Three</option>#}
{#    </select>#}
{#      <button type="submit" class="btn btn-primary">Submit</button>#}
{#    </form>#}
{#{% endblock %}#}