{% extends 'base_zy.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block js %}

{% endblock %}


{% block content %}

    <form action="/campus/base_zy/updateinfo/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="updateImg">
            <img src="{{ account.photo.url }}" alt=""/></div>

        <input name="photo" type="file" id="exampleInputFile">
        <button id="photo" class="btn btn-danger" type="submit">上传头像</button>
    </form>


{#<form method="POST" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    <input type="file" name="img">#}
{#    <button type="submit">上传</button>#}
{#    </form>#}
{##}
{#{% endblock %}#}

{% endblock %}
