{% extends 'base_zy.html' %}
{% load static %}

{% block css %}
    <link href="{% static "css/manage_list.css" %}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block nav %}
    {% for i in nav_html %}
         {% if i.index < 3 %}
            <a href="{{ i.url }}">{{i.title}}</a>  >
         {% else %}
            <a href="{{ i.url }}">{{i.title}}</a>
         {% endif %}
    {% endfor %}
{% endblock %}
{% block content%}
    <div class="g-page">

        <div class="g-header">
            <div class="g-header-value page-title">{{ title }}</div>
            <div class="g-header-value page-title">共:{{ count}}</div>
        </div>

        <div class="g-table-body">
            <ul class="g-table-actions">
                <li class="g-table-actions-col">
                    <a href="{{ add_href }}" class="g-actions-button g-actions-button-default">新增</a>

                </li>
                <li>
                    <form class="g-forms-input" method="get">
                        <input type="text" class="g-forms-input-search-bar" name="search_input" value="{{ search_data }}"  placeholder="Search SKU...">
                    <i class="g-forms-input-search-bar-icon fa fa-fw fa-search"></i>
                </form>
                </li>
            </ul>
            <table cellspacing="0" class="g-table-list">
                 <thead>


                    <tr>
                        <th class="g-table-list-col-edit"></th>
                        <th class="g-table-list-col-title g-table-list-col-money required">序号</th>
{#                        {% for i in form %}#}
{#                            <th class="g-table-list-col-title g-table-list-col-desc required">{{ i.label }}</th>#}
{#                        {% endfor %}#}
                        <th class="g-table-list-col-title g-table-list-col-desc required">班级名</th>
                        <th class="g-table-list-col-title g-table-list-col-desc required">班级备注</th>
                        <th class="g-table-list-col-title g-table-list-col-desc required">班级所属学院</th>
                        <th class="g-table-list-col-title g-table-list-col-desc required">创建时间</th>
                        <th class="g-table-list-col-title g-table-list-col-desc required">更新时间</th>
                        <th class="g-table-list-col-title g-table-list-col-date required">操作</th>
                    </tr>
                 </thead>
                 <tbody>
                      {% for i in all %}
                        <tr>
                            <td></td>
                            <td>{{ i.id}}</td>
                            <td>{{ i.class_name}}</td>
                            <td>{{ i.class_remark}}</td>
                            <td>{{ i.class_college_name.college_name}}</td>
                            <td>{{ i.class_creatTime|date:"Y-m-d"}}</td>
                            <td>{{ i.class_updateTime|date:"Y-m-d H:i:s"}}</td>
                            <td>
                                <a href="/campus/base_zy/{{ i.id }}/{{ edit_href }}/">修改</a>
                                <a href="/campus/base_zy/{{ i.id }}/{{ delete_href }}/">删除</a>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>

            </table>

            <div class="g-table-list-pagination">
                <div class="g-table-list-pagination-col">
                    <span class="g-body-copy">Page</span>
                        <form method="get">
                            <input type="text" name="page_input" value="{{ search_data }}" class="g-table-list-pagination-current" placeholder="1">
                        </form>
                    <span class="g-body-copy">of {{ count_page}}</span>
                </div>
                <div class="g-table-list-pagination-col">
                    {{ page_prev_next }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}


