{% extends 'base_zy.html' %}
{% load static %}

{% block css %}
        <link href="{% static "css/bootstrap5.min.css" %}" rel="stylesheet" type="text/css"/>
    <style>
        .add_main{
            width:60vw;
            height:80vh;
        }
    </style>
{% endblock %}

{% block js %}
    <script src="{% static "js/bootstrap5.min.js" %}"></script>
{% endblock %}


{% block content %}
    <div class="add_main">
        <form method="post" action="/campus/base_zy/college_add/">{% csrf_token %}
          <div class="mb-3">
            <label  class="form-label" >学院名称</label>
            <input type="text" class="form-control"  name="col_name">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label  class="form-label" >创建时间</label>
            <input type="date" class="form-control" name="col_cre_time">
          </div>
          <div class="mb-3">
            <label  class="form-label" >创建时间</label>
            <input type="date" class="form-control" name="col_upd_time" >
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>




{% endblock %}


