
{% extends 'base_zy.html' %}
{% load static %}

{% block css %}
    <link href="{% static "css/bootstrap3.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/bootstrap5.min.css" %}" rel="stylesheet" type="text/css"/>
{% endblock %}



{% block content%}
<h1>疫情通告新增</h1>
    <form method="post" action="/campus/base_zy/notice_add/" novalidate>{% csrf_token %}

        {% for field in form %}
            <label>{{ field.label }}</label>
            {{ field }}
           <span style="color:red;"> {{ field.errors.0 }}</span><br>
            {#  报错信息 是个列表，可以先选索引0#}
        {% endfor %}

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>







{#    <form method="post" action="/campus/base_zy/notice_add/">{% csrf_token %}#}
{#        {% for field in form %}#}
{#            <label>{{ field.label }}</label>#}
{#            {{ field }}#}
{#        {% endfor %}#}
{#        {{ form.notice_name.label }}:{{ form.notice_name }}#}
{#        {{ form.notice_content.label }}:{{ form.notice_content }}#}
{#        {{ form.notice_writer.label }}:{{ form.notice_writer }}#}
{#        {{ form.notice_publishTime.label }}:{{ form.notice_publishTime }}#}
{##}
{#    </form>#}



{% endblock %}




